.imageStyle {
	width: 100%;
	height: 100vh;
	position: absolute;
}

.s3image {
	position: absolute;
	margin: 100px;
}

.button {
	position: absolute;
	z-index: 99;
	background-color: #4CAF50; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px;
}